<% include ./partials/header%>

    <h3><%= campgrounds.name %></h3>

    <img src="<%= campgrounds.image %>" alt="">

    <p> <%= campgrounds.description %> </p>

    <% campgrounds.comments.forEach((comment) => { %>
        <p>
            <strong><%= comment.author %></strong> - <%= comment.text %>
        </p>
    <% }) %>
     
<% include ./partials/footer%>