<% include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Region</p>
            <div id="map">
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive wine-image" src="<%= wines.image %>">
            <div class="caption-full">
                <h4 class="pull-right"><%= wines.location %></h4>
                <h4><a href='#'><%= wines.name %></a></h4>
                <p><em>Added by <%= wines.author.username %> | <span><%= wines.created.toDateString() %></span></em></p>
                <hr>
                <p><%= wines.description %></p>
                <% if (currentUser && wines.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-warning btn-xs" href="/wines/<%= wines._id %>/edit">Edit Wine</a>
                <form action="/wines/<%= wines._id %>?_method=DELETE" method="POST" class="edit-comment-button">
                    <button class="btn btn-danger btn-xs">Delete Wine</button>
                </form>
                <% } %>
            </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success btn-xs" href="/wines/<%= wines._id %>/comments/new">Leave a Review</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                    <% wines.comments.forEach((comment) => { %>
                        <p>
                            <strong><%= comment.author.username %></strong>
                        </p>
                        <span class="pull-right"><span><%= comment.created.toDateString() %></span></span>
                        <p>
                                <%= comment.text %>
                        </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-xs btn-warning" 
                            href="/wines/<%= wines._id %>/comments/<%= comment._id %>/edit">
                            Edit Comment
                        </a>
                        <form action="/wines/<%= wines._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="edit-comment-button">
                        <button class="btn btn-xs btn-danger">Delete Comment</button>
                        </form>
                        <% } %>
                        <hr>
                    <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const geoApiKey = 'AIzaSyC8gIUswePQchvcJMLr2obfG020N0K0ibc';

    // geocode initialize map
    function initMap() {
      var lat = <%= wines.lat %>;
      var lng = <%= wines.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= wines.name %><br />
        <%= wines.location %></strong>
        <p><%= wines.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC8gIUswePQchvcJMLr2obfG020N0K0ibc&callback=initMap'></script>

<% include ../partials/footer%>